@import 'intl-tel-input/build/css/intlTelInput.css';

.form {
    display: flex;
    flex-direction: column;
    margin: 52px 5px 60px 0;
    width: 320px;

    &__label {
        margin-bottom: 10px;
        @include font(montserrat-extrabold);
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $color-mine-shaft;

        span {
            color: $color-viridian;
        }
    }

    &__input {
        padding: 16px 20px;
        background: $color-alabaster;
        border: 1px solid $color-mercury;
        border-radius: 5px;
        @include font(montserrat-semibold);
        font-size: 14px;
        line-height: 18px;
        color: $color-mine-shaft;
        outline: none;

        &::placeholder {
            opacity: 0.2;
        }
    }

    &__button {
        margin-top: 36px;
        padding: 12px 20px;
        background: $color-viridian;
        border-radius: 5px;
        border: none;
        outline: none;
        @include font(montserrat-semibold);
        font-size: 14px;
        line-height: 18px;
        color: $color-white;
        cursor: pointer;
        transition: all 1s;

        img {
            margin-left: 10px;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__phone {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &__country {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background: $color-alabaster;
        border: 1px solid $color-mercury;
        border-radius: 5px;
        @include font(montserrat-semibold);
        font-size: 14px;
        line-height: 18px;
        color: $color-mine-shaft;
        outline: none;
        width: 116px;
        height: 50px;
    }

    &__flag {
        display: none;
    }

    &__iso {
        position: absolute;
        right: 75px;
        top: 15px;
        z-index: 1;
        @include font(montserrat-semibold);
        font-size: 14px;
        line-height: 18px;
        color: $color-mine-shaft;
        text-transform: uppercase;
    }
}

#name {
    margin-bottom: 20px;
}

#tel {
    width: 184px;
}

.iti__flag {
    position: absolute;
    right: 58px;
    background-image: url("./../assets/img/flags.png");
}

.iti__arrow {
    position: absolute;
    right: 34px;
    margin-left: 0;
    width: 10px;
    height: 6px;
    border-left: none;
    border-right: none;
    border-top: none;
    background: url('./../assets/icons/arrow2.svg');
}