<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reduslim</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <section class="section">
    <div class="section__content">
      <div class="section__info info">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="info__title">
          <h3 class="info__text">Reduslim</h3>
          <h3 class="info__text">ECO</h3>
        </div>
        <img class="info__image" src="./assets/img/image.png" alt="image Reduslim">
      </div>
      <div class="section__action"></div>
    </div>
  </section>
</body>
</html>