// Colors
$color-white: #FFFFFF;
$color-wild-sand: #F4F4F4;
$color-alabaster: #F8F8F8;
$color-mercury: #E4E4E4;
$color-viridian: #428A60;
$color-amazon: #35734F;
$color-mine-shaft: #212121;
$color-black-10: rgba(0, 0, 0, 0.1);